<div class="center">
    <label class="">Pseudo</label>
    <br>
    <textarea class="" placeholder="Entrer votre pseudo" ng-model="namePseudoArtE"></textarea>
    <br>
    <label class="">Titre</label>
    <br>
    <textarea class="" placeholder="Entrer votre titre" ng-model="titleArtE"></textarea>
    <br>
    <label class="">Article</label>
    <br>
    <textarea class="" placeholder="Enter votre article" ng-model="textArtE"></textarea>
    <br>
    <button ng-click="EditArt()">Enregister</button>
    <p>{{ messageEditArt }}</p>
</div>