<div class="container-fluid text-center">
    <div class="row content">

        <div class="text-mid" ng-repeat="y in Commentaires">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="testimonials">
                            <div class="active item">
                                <h3 class="titretext">{{ y.name }}</h3>
                                <blockquote><p>{{ y.commentaire }}</p></blockquote>
                                <a href="/#/commentaire/{{y._id}}/edit">Edit article</a>
                                <div class="carousel-info">
                                    <div class="pull-left">
                                        <span class="testimonials-name">{{ x.pseudo }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mid form-group" ng-controller="AddCommentaire">
            <label class="text-left">Pseudo</label>
            <br>
            <textarea class="left pseudo" placeholder="Entrer votre pseudo" ng-model="namePseudo"></textarea>
            <br>
            <label class="text-left">Commentaire</label>
            <br>
            <textarea class="left" placeholder="Enter votre commentaire" ng-model="textCom"></textarea>
            <br>
            <button ng-click="AddCom()">Envoyer</button>
            <p>{{ messageAddCom }}</p>
        </div>
        <div>
            <a href="/#/article">Page article</a>
        </div>

    </div>
</div>