<div>
    <label class="text-left">Pseudo</label>
    <br>
    <textarea class="left pseudo" placeholder="Entrer votre pseudo" ng-model="namePseudoArtE"></textarea>
    <br>
    <label class="text-left">Titre</label>
    <br>
    <textarea class="left titre" placeholder="Entrer votre titre" ng-model="titleArtE"></textarea>
    <br>
    <label class="text-left">Article</label>
    <br>
    <textarea class="left" placeholder="Enter votre article" ng-model="textArtE"></textarea>
    <br>
    <button ng-click="EditArt()">Enregister</button>
    <p>{{ messageEditArt }}</p>
</div>