<div class="container-fluid text-center" ng-app="app">
    <div class="row content">
        <div class="article" ng-repeat="x in articles">

            <div class="container content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="testimonials">
                            <div class="active item">
                                <h3 class="titretext">{{ x.title }}</h3>
                                <blockquote>
                                    <p>
                                        {{ x.resum }}
                                    </p>
                                    <br>
                                    <br>
                                    <p>
                                        <em>Article écrit par <b>{{ x.name }}</b></em>
                                    </p>
                                </blockquote>
                                <a href="/#/article/{{x._id}}/edit">Edit article</a>
                                <div class="carousel-info">
                                    <div class="pull-left">
                                        <span class="testimonials-name">{{ x.pseudo }}</span>
                                    </div>
                                    <a href="/#/commentaire/{{x._id}}">Voir commentaires</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <hr>
        <div ng-controller="AddArticle">
            <label class="text-left">Pseudo</label>
            <br>
            <textarea class="left pseudo" placeholder="Entrer votre pseudo" ng-model="namePseudoArt"></textarea>
            <br>
            <label class="text-left">Titre</label>
            <br>
            <textarea class="left titre" placeholder="Entrer votre titre" ng-model="titleArt"></textarea>
            <br>
            <label class="text-left">Article</label>
            <br>
            <textarea class="left" placeholder="Enter votre article" ng-model="textArt"></textarea>
            <br>
            <button ng-click="AddArt()">Envoyer</button>
            <p>{{ messageAddArt }}</p>
        </div>
    </div>
</div>